/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "open-sans", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "open-sans", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "open-sans", sans-serif;
font-weight: 700;
font-style: italic;

font-family: "amiri", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "amiri", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "amiri", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "amiri", sans-serif;
font-weight: 700;
font-style: italic;
// ==================================== */
nav {
  background-color: #222222;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

a {
  text-decoration: none;
}

.login {
  height: 35px;
  scale: 1.1;
}

nav img {
  height: 20px;
}

.language {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.language span {
  color: #f40f97;
}

.small-nav {
  background-color: #222222;
  height: 50px;
  display: flex;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: #fff solid 1px;
}

.cat {
  padding: 0 5px;
  color: #7bd400;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.login-phrase {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  height: 100%;
}

.login-phrase img {
  width: 50px;
  padding: 10px 0 0;
  margin-left: 10px;
}

.horizontal-line {
  background-color: #dddddd;
  width: 100%;
  height: 2px;
  margin: 0 0 22px 0;
}

.section-title {
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 5px solid #fb8e00;
  z-index: 1;
  display: inline-block;
  position: absolute;
}

.article-title {
  font-family: "amiri", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

article {
  position: relative;
  z-index: auto;
  margin-bottom: 20px;
  height: 100%;
}

.big-article {
  z-index: auto;
  padding-bottom: 20px;
  position: relative;
  height: 100%; /* Adjust as needed */
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 300px;
  z-index: 0;
}

.img-container {
  height: 200px;
}

.big-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 15;
  border-bottom-right-radius: 15;
}

.big-image {
  border-radius: 15;
}

.interaction {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15px;
  right: 10px;
  height: 50px;
}

.icon-comment,
.icon-like {
  width: 50px;
}

.icon-comment {
  height: 40px;
  padding-right: 15px;
}

.number {
  position: absolute;
  top: 8px;
  left: 10px;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #999898;
  font-size: 15px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 15px 40px;
  color: #ffffff;
  width: 100%;
}

.article-type {
  width: 120px;
  padding-right: 7px;
}

.content-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.date {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: right;
  width: 100%;
  color: #888888;
  font-size: 10px;
}

.big-article .date {
  color: #fff;
}

.writer {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #888888;
  padding-left: 5px;
}

.big-article .writer {
  color: #d0d0d0;
}

.chapeau {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  // width: 50%;
  text-align: right;
}

.pink-line {
  background-color: #f40f97;
  width: 100%;
  height: 5px;
  margin: 22px 0;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.green-line {
  background-color: #7bd400;
  width: 100%;
  height: 5px;
  margin: 22px 0;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.red-line {
  background-color: #e41e13;
  width: 100%;
  height: 5px;
  margin: 22px 0;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.duck-line {
  background-color: #068763;
  width: 100%;
  height: 5px;
  margin: 22px 0;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.purple-line {
  background-color: #9d00a9;
  width: 100%;
  height: 5px;
  margin: 22px 0;
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.regular-article {
  .content {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
    color: #000;
    background-color: #eeeeee;
    border-bottom-right-radius: 15;
    border-bottom-left-radius: 15;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: translate(0, 10);
    z-index: 0;
  }

  .image {
    border-top-right-radius: 15;
    border-top-left-radius: 15;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .article-title {
    font-family: "amiri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0 0;
  }

  .align-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .img-container {
    position: relative;
    max-height: 200px;
  }

  .content-type img {
    height: 20px;
    padding-right: 5px;
  }
}

.button {
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 0 20px;
  border-bottom: #d9d9d9 solid 5px;
  display: inline-block;
}

.button-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-video .button {
  color: #fff;
}

.swiss-news {
  .horizontal-line {
    background-color: #dddddd;
    width: 100%;
    height: 2px;
    margin: 22px 0;
  }

  .section-title {
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    line-height: 36px;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 5px solid #e41e13;
    z-index: 2;
  }

  .corner {
    z-index: 1;
    width: 220px;
    height: 220px;
  }

  .img-container {
    height: 200px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.video-article {
  max-width: 230px;
  .article-title {
    font-family: "amiri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 15px 0;
  }

  .content {
    position: relative;
    bottom: -10;
    left: 0;
    color: #fff;
    padding: 5px 0 0 0;
  }

  .article-type {
    height: 15px;
  }

  .small-cat {
    height: 15px;
  }

  .all-content {
    position: relative;
  }

  .article-title {
    padding: 5px;
  }

  .img-container {
    height: 100px;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-radius: 0;
  }

  .smaller {
    height: 110px;
    object-fit: cover;
  }

  .section-title {
    position: absolute;
    top: -90;
    left: 90px;
    color: #fff;
    border: none;
    font-size: 30px;
  }

  .img-container {
    height: 100px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.videos {
  background-color: #1e1e1e;
  padding: 100px 0 50px 30px;
  border-radius: 15;
  position: relative;
}

.icon-record {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  z-index: 2;
}

.corner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  z-index: 0;
}

.sport-news {
  .section-title {
    font-family: "open-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    line-height: 36px;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 5px solid #7bd400;
    z-index: 2;
  }

  .corner {
    z-index: 1;
    width: 220px;
    height: 220px;
  }

  .img-container {
    height: 200px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.most-reads {
  background-color: #eeeeee;
  padding: 35px;
  border-radius: 15;
  height: 700px;
  z-index: 0;
}

.small-article {
  padding-bottom: 15px;
  border-bottom: #888888 1px solid;
  height: 90px;
}

.no-border {
  border: none;
  margin: 0;
  padding: 0;
}

.small-article img {
  width: 30px;
}

.small-article .content-type {
  padding-bottom: 5px;
}

.icon-eye {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  z-index: 2;
}

// petit à moyen
@media (min-width: 768px) {
  .button-align {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .interaction {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .date {
    text-align: left;
  }

  .button-video {
    display: none;
  }
}

// moyen à grand
@media (min-width: 1200px) {
  .interaction {
    scale: 0.8;
  }

  .login {
    display: none;
  }

  .logo {
    scale: 1.2;
  }

  .long-nav {
    position: relative;
  }

  .language {
    position: absolute;
    top: 35%;
    right: 120px;
  }

  .article-title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 15px;
  }
}

// grand à moyen
@media (max-width: 1200px) {
  .small-nav,
  .login-phrase,
  .language,
  .gone,
  .four,
  .five {
    display: none;
  }

  .horizontal-line {
    margin-top: 22px;
  }

  .regular-article.writer {
    display: none;
  }

  .regular-article .date {
    display: none;
  }
}

// moyen à petit
@media (max-width: 768px) {
  .chapeau {
    display: none;
  }

  .big-article {
    height: 80vh;
  }

  article .writer {
    display: none;
  }

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 107vh;
    padding-bottom: 30px;
  }

  .video-article {
    max-width: 450px;
    max-height: 270px;
    border-bottom: 2px solid #888888;
    padding-bottom: 15px;
    // margin-top: 20px;
  }

  .content-type h2 {
    font-size: 25px;
  }
}
